.main {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1px;
    width: fit-content;
    max-width: 110px;
    // overflow: hidden;
    padding: 2px 7px;
    gap: 3px;
    border-radius: 5px;
    background-color: rgb(219, 236, 93);
    border: 1.6px solid rgba(0, 0, 0, 0.612);
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

    p {
        font-size: 12px;
        max-width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    svg {
        height: 0.8em;
    }
}