.main {
    padding: 1px;
    width: 110px;
    display: flex;
    align-items: center;
    gap: 3px;
    border-radius: 5px;
    border: 1.9px solid rgba(0, 0, 0, 0.612);
    position: relative;

    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

    p {
        max-width: 70%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}