.main {
    border: 1px solid red;
    padding: 5px 0;

}

.swiper {
    width: 200px;
    display: flex;

    align-items: center;
    justify-content: center;

    &__item {
        // height: 30px !important;
    }
}