.main {
    height: 100%;

    >div {
        max-width: 200px;
        // max-width: 200px;
        display: flex;
        gap: 10px;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.tagsBlock {
    display: flex;
    gap: 4px;
}