.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 30px;
    border: 2px solid var(--light);
    border-radius: 5px;
    padding: 10px 4px 5px;

    >div:first-child {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h3 {
            align-self: center;
        }
    }
}

.tagsBlock {
    display: flex;
    flex-direction: column;
    gap: 3px;
}