.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;

    &__section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        // width: 70vw;
        max-width: 800px;

        min-width: 300px;
        border: 2px solid var(--light);
        padding: 30px;
        border-radius: 5px;

        >div:nth-child(2) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }
    }
}

.head {}

@media screen and (max-width:810px) {
    .main {
        &__section {
            >div:nth-child(2) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
            }
        }
    }
}