.main {
    width: 100%;
    position: absolute;
    top: 110%;
    left: 8%;
    background-color: var(--secondary-blue);
    padding: 10px;
    border: 2px solid black;
    border-radius: 6px;
    overflow: hidden;
}